.hidden {
  display: none;
}
html,
body,
#root,
#root > div {
  height: 95%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  border: 1px solid;
  box-shadow: -5px 10px;
  max-width: 800px;
  padding: 10px;
  margin: 5px;
}
.info {
  margin-bottom: 20px;
}
.inputs {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  margin: 3px;
  font-size: 1rem;
  width: 100%;
}
.inputs:hover {
  background-color: lightgrey;
}
::placeholder {
  color: rgb(54, 54, 54);
  opacity: 1;
}
.save {
  border: none;
  background: #1f1b26;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  color: #f5f4f4;
}
.save:hover {
  color: #1f1b26;
  background: #f5f4f4;
  cursor: pointer;
  transition: 0.5s;
}
.save-cv-btn {
  border: none;
  background: #1f1b26;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  color: #f5f4f4;
}
.save-cv-btn:hover {
  color: #1f1b26;
  background: #f5f4f4;
  cursor: pointer;
  transition: 0.5s;
}
